# Virtual environment
venv/
env/

# Model & dataset hasil training (terlalu besar untuk GitHub)
model-sentiment-indo/
smsa_dataset/
results/
logs/

# Cache Python
__pycache__/
*.pyc

# Cache Hugging Face
.cache/

# OS files
.DS_Store
Thumbs.db